#dev-frame {
    display: block;
    float: none;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 150px;
    width: 750px;
    padding: 10px;
    background: #ffffffcc;
    overflow: hidden;
    resize: both;
    transform: rotate(-180deg);
	border: 1px solid #66666678;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
}

#dev-content {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
    transform: rotate(-180deg);
    font-family: 'Courier New', Courier, monospace;
}

.dev-error {
	margin: 5px;
	padding: 5px;
	width: auto;
}

.dev-error.warning {
	background-color: #E1934F;
	color: #FFF;
}

.dev-error.error {
	background-color: #AB3C3E;
	color: #FFF;
}
.dev-error.notice {
	background-color: #CECECE;
	color: #000;
}